<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge" />
    <title>Stocks Predictor</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Stocks Predictor</h1>
            <p><a class="btn btn-primary btn-lg"
                   href="/predict" 
                   role="button">Predict</a></p>
        </div>
        <!-- Chart of Stocks -->
        <div class="row"
             id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2>Stocks Chart</h2>
                    <!-- Data to plot -->  
                    <!-- predictions, tested, train -->
                    </div>
                </div>
            </div>
        </div>

            <!-- 1 week of predictions -->
            <div class="col-md-4">
                <h4> Predicted Next 7 Days </h4>
            </div>

    </div>
</body>

</html>
